AUTH_SECRET=""

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

RESEND_API_KEY=""

NEXTAUTH_URL=http://localhost:3000

#Paypal
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

#Cloudinary

CLOUDINARY_URL=

#cuenta para test
# https://developer.paypal.com/dashboard
#Email:
#Password:

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:examplePass@localhost:5432/exampleNameDatabase?schema=public"
